@import "tailwindcss";

@theme {
  --color-purple700: #83286d;
  --color-purple500: #CF78BA;
  --color-purple300: #FFD6F5;
  --color-background: #fbf1e5;
  --color-text: #2A2228;

  --font-play: "Playfair Display", sans-serif;
  --font-kudry: "Kudryashev Display Sans", sans-serif;
  --font-quick: "Quicksand", sans-serif;
  --font-text: "Poppins", sans-serif;

  --text-h1: 2.5rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-p: 1.2rem;
}

